
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mess</title>
</head>
<body>
    <div> 
        Đã gửi
        @Html.ActionLink("Quay lại","Index")
    </div>
</body>
</html>
